<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ToothbrushBear</title>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/combined.min.css') }}">

    <!--Import jQuery before materialize.js-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/materialize/bin/materialize.min.js') }}"></script>
</head>

<body class="body">
    <nav class="index">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><span id="nav-text">ToothbrushBear</span></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="http://www.breadandcircuits.org"><span id="nav-text">Blog</span></a>
                </li>
                <li><a href=""><span id="nav-text">About</span></a>
                </li>
                <li><a href=""><span id="nav-text">Contact</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container main">
        <div class="row">
            <div class="col s4">
                <div class="card office">
                    <div class="card-image red lighten-4">
                        <img src="{{ url_for('static', filename='images/office21.svg') }}" alt="">
                    </div>
                    <div class="card-content" style="font-size:20px">Before Brushing</div>
                </div>
            </div>
            <div class="col s4">
                <ul>
                    <li>
                        <h5>
                        <span class="slogan">Care to be 
                    </h5>
                    </li>
                    <li>
                        <h5>
                        <span class="slogan">more <span style="font-weight:bold">successful</span></span>
                    </h5>
                    </li>
                    <li>
                        <h5>
                        <span class="slogan">better <span style="font-weight:bold">looking</span>, and</span>
                    </h5>
                    </li>
                    <li>
                        <h5>
                        <span class="slogan"><span style="font-weight:bold">beloved </span>by all?</span>
                    </h5>
                    <li>
                        <h4>
                        <span class="slogan-end yellow lighten-2">Brush.</span>
                    </h4>
                    </li>
                </ul>
            </div>
            <div class="col s4">
                <div class="card office">
                    <div class="card-image blue lighten-4">
                        <img src="{{ url_for('static', filename='images/comfortable.svg') }}" alt="">
                    </div>
                    <div class="card-content" style="font-size:20px">After Brushing</div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="stripes">
        <div class="row">
            <div class="col s12 stripe-red"></div>
        </div>
        <div class="row">
            <div class="col s12 stripe-orange"></div>
        </div>
        <div class="row">
            <div class="col s12 stripe-green"></div>
        </div>
        <div class="row">
            <div class="col s12 stripe-blue"></div>
        </div>
    </div> -->
    <!--  <div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
    </div> -->
</body>

</html>
